form {
  display: grid;
  width: 25%;
  text-align: center;
  margin-left: 30%;
}
label {
  margin: 10px;
}
button {
  margin-top: 20px;
  background-color: #2d4159;
  height: 40px;
  color: #f0ebf4;
}
.add-page {
  height: 100vh;
}
