h2 {
  color: #080f5b;
  text-emphasis: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0677a1;
  height: 80px;
}

.homepage-link {
  text-decoration: none;
  padding: 14px 25px;
}
.top-link {
  text-decoration: none;
  padding: 14px 25px;
}
.season-link {
  display: inline-block;
  text-decoration: none;
  padding: 14px 25px;
}
