.detail-body {
  display: grid;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
}
.top-div {
  display: flex;
  margin: 50px 0 50px 200px;
}

.middle-div {
  display: flex;
  margin-left: 300px;
}

.bottom-div {
  display: grid;
  margin: 100px 0 0 300px;
  grid-template-columns: 300px 300px 300px;
}

.title {
  margin: 20px;
  font-size: 25px;
}

.rank-text {
  font-size: 25px;
  font-family: "Cinsel", serif;
  color: #25274d;
  margin-top: 0;
}
.rating {
  font-size: 25px;
  margin: 20px;
  margin-left: 500px;
  padding: 10px;
  text-align: center;
  color: #25274d;
}

.image {
  height: auto;
}

.detail-desc-box {
  display: grid;
  height: auto;
  padding: 20px;
  width: 30%;
  background-color: #86b3d1;
  font-size: 25px;
  color: #25274d;
  border: 2px solid white;
}

@media screen and (max-width: 600px) {
  .detail-desc-box {
    display: none;
  }

  .top-div,
  .bottom-div {
    margin: 0;
    grid-template-columns: 0;
  }

  .middle-div {
    margin: 20px;
  }

  .rating {
    margin-left: 100px;
  }
}

.location {
  background-color: #05386b;
  color: aliceblue;
  border: 2px solid snow;
  width: 250px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 50px;
}

.currency {
  background-color: #05386b;
  color: aliceblue;
  border: 2px solid snow;
  width: 250px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 50px;
}

.stay {
  background-color: #05386b;
  color: aliceblue;
  border: 2px solid snow;
  width: 250px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 50px;
}

.season {
  background-color: #05386b;
  color: aliceblue;
  border: 2px solid snow;
  width: 250px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 50px;
}

.num-of-people {
  background-color: #05386b;
  color: aliceblue;
  border: 2px solid snow;
  width: 250px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 50px;
}
