.container {
  display: grid;
  grid-template-columns: 1fr;
}
.description {
  margin: 20%;
  padding: 100px;
  size: 20px;
}

.image {
  display: inline-flex;
  height: auto;
  width: 400px;
  max-width: 300px;
  size: contain;
}
