.box {
  display: grid;
}

.add-link {
  text-align: center;
  margin-top: 30%;
  text-decoration: none;
}

.add-box {
  display: grid;
  height: 300px;
  width: 400px;
  max-width: 100%;
  border-style: ridge;
  position: relative;
  left: 30%;
}
