.container {
  display: grid;
  grid-template-columns: 1fr;
}
.description {
  display: inline-flex;
  background-color: cadetblue;
  margin: 20px;
  padding: 60px;
  width: 50%;
  right: 50%;
}

.image {
  display: inline-flex;
  height: auto;
  width: 70%;
  max-width: 100%;
  border-style: ridge;
  border-radius: 20px;
}
