.detail-body {
  display: grid;
}
.top-div {
  display: flex;
}

.middle-div {
  display: flex;
}

.bottom-div {
  display: grid;
}

.bottom-row {
  display: grid;
}
.title {
  margin: 20px;
  font-size: 25px;
}

.rating {
  font-size: 25px;
  margin: 20px;
  margin-left: 500px;
  padding: 10px;
  text-align: center;
}

.detail-desc-box {
  display: grid;
  height: auto;
  padding: 20px;
  width: 40%;
  background-color: brown;
}

.location {
  background-color: aqua;
  width: 200px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 40px;
}

.currency {
  background-color: aqua;
  width: 200px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 50px;
}

.stay {
  background-color: aqua;
  width: 200px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 50px;
}

.season {
  background-color: aqua;
  width: 200px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 40px;
}

.num-of-people {
  background-color: aqua;
  width: 200px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  height: 60px;
}
