.container {
  display: grid;
  grid-template-columns: 1fr;
}
.description {
  margin: 10%;
  padding: 50px;
  size: 20px;
}

.image {
  display: inline-flex;
  height: auto;
  width: 20%;
  max-width: 100%;
  border-style: ridge;
  border-radius: 20px;
}
